[Unit]
Description=Gunicorn (Django)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/var/www/hello-deploy
EnvironmentFile=/var/www/hello-deploy/.env
ExecStart=/var/www/hello-deploy/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=always

[Install]
WantedBy=multi-user.target